@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.text-wrap {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.btn-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 300;
}

.title-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem !important;
  font-weight: 900 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.0073529412em !important;
}

.hidden-block {
  opacity: 0;
  pointer-events: none;
}

.subtitle-two-lines {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; /* Limit to 2 lines */
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; /* Optional, for ellipsis on the second line */
  white-space: normal !important; /* Allow wrapping */
}