@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

.text-wrap {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.btn-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 300;
}

.title-h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem !important;
  font-weight: 900 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.0073529412em !important;
}

.hidden-block {
  opacity: 0;
  pointer-events: none;
}

.subtitle-two-lines {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; /* Limit to 2 lines */
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; /* Optional, for ellipsis on the second line */
  white-space: normal !important; /* Allow wrapping */
}

.avatar-frame {
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discount-tag {
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  background-color:rgb(231, 67, 122);
  padding: 2px 4px;
  border-radius: 4px;
}

.nuxt-link-reset {
  text-decoration: none;
  color: inherit;
}

.blank-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Keep total price at the bottom of page */
.sticky-actions {
  position: fixed;
  left: 0;
  bottom: 80px;
  width: 100vw;
  background: #fff;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.08);
  z-index: 100;
  padding: 12px 8px 8px 8px;
}